@font-face {
  font-family: "Oswald";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

*:focus {
  outline: 0;
  // box-shadow: 0 0 0 1px #288ddb;
}

body {
  position: relative;

  margin: 0;
  padding: 0;

  min-width: 120px;
  min-height: 760px;

  color: rgb(0, 0, 0);
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;

  background-color: $main-white;

  // background-size: 320px auto;
  // background-position: center -195px;
  z-index: 4;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;

  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  transition: ease-in-out 0.2s;
}

p {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;

  border: 0;

  cursor: pointer;

  transition: background-color ease-in 0.2s;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: none;

  clip: rect(0, 0, 0, 0);
}

.page-index {
  position: relative;
}

.container {
  padding-left: 20px;
  padding-right: 20px;

  width: auto;

  // width: 320px;
}

@media (min-width: $tablet-width) {
  .container {
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;

    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;

    width: 1300px;
  }
}
