.intro {
  &--bg {
    background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, rgb(100, 168, 59), 64%, $main-white 50%);
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(to bottom, rgb(100, 168, 59), 64%, $main-white 50%);
      background-size: 320px, auto;
    }
  }
}

.intro__body {
  position: relative;
  margin-bottom: 20px;
  padding-top: 31px;

  min-height: 478px;

  color: $main-white;
}

.intro__title {
  margin-bottom: 21px;

  height: 70px;

  line-height: 40px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  text-transform: none;
}

.intro__slogan {
  position: relative;
  margin-bottom: 23px;

  min-height: 16px;

  font-size: 14px;
  text-align: center;
  font-weight: normal;

  z-index: 2;
}

.intro__picture {
  margin: auto;

  width: 280px;
  min-height: 271px;
}

@media (min-width: $tablet-width) {
  .intro {
    &--bg {
      background-image: none;

      background-color: rgb(255, 255, 255);
    }
  }

  .intro__body {
    margin: 0;
    padding-top: 44px;
    padding-left: 90px;

    min-height: 850px;
    color: black;
  }

  .intro__title {
    margin-bottom: 40px;

    width: 426px;
    height: 120px;

    font-size: 50px;
    line-height: 60px;
    text-align: left;
  }

  .intro__slogan {
    margin-bottom: 50px;
    width: 295px;

    font-size: 20px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
  }

  .intro__programm {
    width: 244px;
    height: 50px;

    z-index: 2;
  }

  .intro__picture {
    position: absolute;

    top: 222px;

    width: 565px;
    height: 627px;

    z-index: 0;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    &--bg {
      background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, $main-white 50%, rgb(100, 168, 59) 50%);
      background-repeat: no-repeat;
      background-size: 50%, auto;
      background-position: right center, center;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, $main-white 50%, rgb(100, 168, 59) 50%);
      }
    }
  }

  .intro__body {
    position: relative;

    min-height: 696px;

    padding-top: 225px;
  }

  .intro__picture {
    position: absolute;

    top: 140px;
    right: 204px;

    width: 565px;
    height: 627px;

    z-index: 0;
  }
}
