.main-nav {
  &--hide {
    display: none;
  }
}

.main-nav__body {
  min-width: 100%;
}

.main-nav__list {
  display: flex;
  align-items: center;
  flex-direction: column;

  border-bottom: 1px solid $main-gray;
}

.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  height: 65px;

  border-bottom: 1px solid #e6e6e6;

  &:last-child {
    border: 0;
  }
}

.main-nav__link {
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-transform: uppercase;

  &--current {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 30px;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: $main-green;
    }
  }

  &:hover,
  &:focus {
    color: $main-black-hover;
  }

  &:active {
    color: $main-black-active;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    &--hide {
      display: block;
    }
  }

  .main-nav__list {
    flex-direction: row;

    border: 0;
  }

  .main-nav__item {
    border: 0;
  }

  .main-nav__link {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    &--black-link {
      .main-nav__link {
        color: rgb(0, 0, 0);

        &--current {
          position: relative;

          &::before {
            content: "";

            position: absolute;
            top: 30px;
            left: 0;

            width: 100%;
            height: 2px;

            background-color: $main-green;
          }
        }

        &:hover,
        &:focus {
          color: $main-black-hover;
        }

        &:active {
          color: $main-black-active;
        }
      }
    }
  }

  .main-nav__list {
    flex-direction: row;
  }

  .main-nav__link {
    position: relative;

    font-size: 20px;
    font-weight: normal;

    color: $main-white;

    &--current {
      &::before {
        background-color: $main-white;
      }
    }

    &:hover,
    &:focus {
      color: $main-white-hover;
    }

    &:active {
      color: $main-white-active;
    }
  }
}
