$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-green: #68b738;
$main-green-hover: #5eaa2f;
$main-green-active: #68b738;
$main-white-active: rgba(255, 255, 255, 0.302);
$main-white-hover: rgba(255, 255, 255, 0.6);
$main-black-hover: rgba(17, 17, 17, 0.6);
$main-black-active: rgba(17, 17, 17, 0.302);
$main-gray: #f2f2f2;
$text-color: #444444;
$main-white: rgb(255, 255, 255);
